h1 {
    color : rgb(255, 101, 255);
    font-size: 40px;
    font-family : Helvetica, sans-serif;
    background-color : rgba(167, 66, 255, 0.495);
}

h2{
    color : rgba(170, 204, 0, 1);
    font-family: 'Helvetica', sans-serif;
}

p{
    color : rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif, monospace;
}

.response{
    color : rgb(0, 0, 0);
    font-size: small;
    font-family: 'Times New Roman', Times, serif, monospace;
}

@-webkit-keyframes rainbow {
    0% {color: red;}
    14% {color: orange;}
    28% {color: yellow;}
    42% {color: green;}
    56% {color: blue;}
    70% {color: indigo;}
    84% {color: violet;}
    100% {color: red;}
}

@-webkit-keyframes big {
    from {font-size: 40px;}
    50% {font-size: 1000px;}
    to {font-size: 40px;}
}

.rainbow-text {
    animation: big 4s linear infinite, rainbow 5s linear infinite;
}

.hover1:hover + .hover2 {
    display: block;
    transform: rotate(calc(0.18145 * 180deg));
}

.hover2 {
    display: none;
}